/*  to use converted fonts locally in project or import from other source  */
/*  local url template for production = url('../fonts/font-name.extension') */

$font-family-name: 'caviar_dreams';

@font-face {
  font-family: $font-family-name;
  src: url('../fonts/caviardreams-webfont.woff2') format('woff2'),
       url('../fonts/caviardreams-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $font-family-name;
  src: url('../fonts/caviardreams_bold-webfont.woff2') format('woff2'),
       url('../fonts/caviardreams_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: $font-family-name;
  src: url('../fonts/caviardreams_bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/caviardreams_bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: $font-family-name;
  src: url('../fonts/caviardreams_italic-webfont.woff2') format('woff2'),
       url('../fonts/caviardreams_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}